{% extends "layout.html" %}
{% block title %}Jamgaroo - Comment {{ comment.id }}{% endblock %}
{% block header %}
<h1 class="title is-1">Comment {{ comment.id }}</h1>
{% endblock %}
{% block content %}
<div class="block">
    {% for category, points in user_ratings.items() %}
    {{ category }}: {{ points }} <br>
    {% endfor %}
</div>
<div class="block content">
    {{ comment.comment|markdown }}
</div>
<div class="block">
    For game: <a href="{{ url_for('games.show_game', game_id = comment.game.id) }}">{{ comment.game.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = comment.user.name) }}">{{ comment.user.name }}</a><br>
</div>
<div class="block">
    {% if comment.user.name == g.username %}
    <a href="{{ url_for('comments.edit_comment', comment_id = comment.id) }}">
        <button class="button">Edit</button>
    </a>
    <a href="{{ url_for('comments.delete_comment', comment_id = comment.id) }}">
        <button class="button is-danger">Delete</button>
    </a>
    {% endif %}
    <a href="{{ url_for('comments.report_comment', comment_id = comment.id) }}">
        <button class="button" title="Report this comment"><i class="ph ph-flag"></i></button>
    </a>
</div>
{% endblock %}
