{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete Comment{% endblock %}
{% block header %}
<h1 class="title is-1">Delete Comment {{ comment.id }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('comments.delete_comment', comment_id = comment.id) }}" method="post">
    <div class="block">
        Are you sure you want to delete your rating for {{ comment.game.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete Rating for {{ comment.game.name }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
