{% extends "layout.html" %}
{% block title %}Jamgaroo - Edit Comment{% endblock %}
{% block header %}
<h1 class="title is-1">Edit Comment</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('comments.edit_comment', comment_id = comment.id) }}" method="post">
    <p class="has-text-weight-bold">Rate Categories(1-10)
    {% for rating in ratings %}
    <div class="field">
        <label class="label" for="{{ rating.category.name }}">{{ rating.category.name }}</label>
        <div class="control">
            <input class="input" type="number" id="{{ rating.category.name }}" name="{{ rating.category.name }}" min="1" max="10" required value="{{ rating.points }}">
        </div>
    </div>
    {% endfor %}
    <div class="field">
        <label class="label" for="comment">Comment:</label>
        <div class="control">
            <textarea class="textarea" id="comment" name="comment">{{ comment.comment }}</textarea>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Edit Rating">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
