{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete {{ game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Delete {{ game.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('games.delete_game', game_id = game.id) }}" method="post">
    <div class="block">
        Deleting the game will also delete all ratings submitted to it.
        Are you sure you want to delete {{ game.name }}?
    </div>
    <input class="button is-danger" type="submit" value="Delete {{ game.name }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
