{% extends "layout.html" %}
{% block title %}Jamgaroo - Edit {{ game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Edit {{ game.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('games.edit_game', game_id = game.id) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{ game.name }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="link">Link:</label>
        <div class="control">
            <input class="input" type="text" id="link" name="link" value="{{ game.link }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description">{{ game.description }}</textarea>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Edit game">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
