{% extends "layout.html" %}
{% block title %}Jamgaroo - {{ game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ game.name }}</h1>
{% endblock %}
{% block content %}
<p class="subtitle is-6"><a href="{{ game.link }}">{{ game.link }}</a></p>
<div class="content">
    {{ game.description|markdown }}
</div>
<div class="block">
    Created for jam: <a href="{{ url_for('jams.show_jam', jam_id = game.jam.id) }}">{{ game.jam.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = game.created_by.name) }}">{{ game.created_by.name }}</a><br>
</div>
<div class="block">
    {% if game.jam.end_coding < current_date and game.jam.end_testing > current_date %}
    <a href="{{ url_for('games.rate_game', game_id = game.id) }}">
        <button class="button is-primary">Rate Game</button>
    </a>
    {% endif %}
    {% if game.created_by.name == g.username %}
    <a href="{{ url_for('games.edit_game', game_id = game.id) }}">
        <button class="button">Edit</button>
    </a>
    <a href="{{ url_for('games.delete_game', game_id = game.id) }}">
        <button class="button is-danger">Delete</button>
    </a>
    {% endif %}
    <a href="{{ url_for('games.report_game', game_id = game.id) }}">
        <button class="button" title="Report this game"><i class="ph ph-flag"></i></button>
    </a>
</div>
{% if user_ratings %}
<h3 class="title is-3">Ratings:</h3>
{% for user, ratings in user_ratings.items() %}
<div class="box">
    <p class="has-text-weight-semibold"><a href="{{ url_for('users.show_user', user_name = user) }}">{{ user }}</a></p>
    <div class="is-size-7">
        {% for category, points in ratings.items() %}
        {{ category }}: {{ points }} <br>
        {% endfor %}
    </div>
    <div class="block content">
        {{ user_comments[user].comment|markdown }} <br>
        <a href="{{ url_for('comments.show_comment', comment_id = user_comments[user].id) }}">>></a><br>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
