{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Games{% endblock %}
{% block header %}
<h1 class="title is-1">Games</h1>
{% endblock %}
{% block content %}
{% for game in all_games %}
<div class="box">
    <h3 class="title is-3"><a href="{{ url_for('games.show_game', game_id = game.id) }}">{{ game.name }}</a></h3>
    <div class="block">
        Created by: <a href="{{ url_for('users.show_user', user_name = game.created_by.name) }}">{{ game.created_by.name }}</a><br>
        For: <a href="{{ url_for('jams.show_jam', jam_id = game.jam.id) }}">{{ game.jam.name }}</a>
    </div>
</div>
{% endfor %}
{% endblock %}
