{% extends "layout.html" %}
{% block title %}Jamgaroo - Rate {{ game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Rate {{ game.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('games.rate_game', game_id = game.id) }}" method="post">
    <p class="has-text-weight-bold">Rate Categories(1-10)</p>
    {% for category in jam_categories %}
    <div class="field">
        <label class="label" for="{{ category.category.name }}">{{ category.category.name }}</label>
        <div class="control">
            <input class="input" type="number" id="{{ category.category.name }}" name="{{ category.category.name }}" min="1" max="10" required>
        </div>
    </div>
    {% endfor %}
    <div class="field">
        <label class="label" for="comment">Comment:</label>
        <div class="control">
            <textarea class="textarea" id="comment" name="comment"></textarea>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Rate Game">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
