{% extends "layout.html" %}
{% block title %}Jamgaroo - Report Game{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ game.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('games.report_game', game_id = game_id) }}" method="post">
    <div class="field">
        <label class="label" for="reason">The reason for reporting this game:</label>
        <div class="control">
            <textarea class="textarea" id="reason" name="reason" required></textarea>
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Report Game">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
