{% extends "layout.html" %}
{% block title %}Jamgaroo - 403 Forbidden{% endblock %}
{% block header %}
<h1 class="title is-1">403 - Forbidden</h1>
{% endblock %}
{% block content %}
<div class="block">
  You are not allowed to view this resource.
</div>
{% endblock %}
