{% extends "layout.html" %}
{% block title %}Jamgaroo - 404 Page not found{% endblock %}
{% block header %}
<h1 class="title is-1">404 - Page Not Found</h1>
{% endblock %}
{% block content %}
<div class="block">
  Looks like the thing you are looking for doesn't exist.
</div>
{% endblock %}
