{% extends "layout.html" %}
{% block title %}Jamgaroo{% endblock %}
{% block header %}
<h1 class="title is-1">{{ config.NAME }} - About</h1>
{% endblock %}
{% block content %}
<div class="content">
    {{ config.ABOUT|markdown }}
</div>
{% endblock %}
