{% extends "layout.html" %}
{% block title %}Jamgaroo{% endblock %}
{% block content %}
    <div class="block mb-6">
        <div class="container has-text-centered">
        <h1 class="title is-1">{{ config.NAME }}</h1>
        {{ config.DESCRIPTION|markdown }}
        </div>
    </div>
    <div class="block">
        <div class="columns">
            {% if upcoming_jams %}
            <div class="column">
                <h3 class="title is-3 has-text-centered">Upcoming Jams</h3>
                {% for jam in upcoming_jams %}
                <div class="box">
                    <h3 class="title is-3"><a href="{{ url_for('jams.show_jam', jam_id = jam.id) }}">{{ jam.name }}</a></h3>
                    {% if jam.series %}
                    <p class="subtitle is-7">In Series: <a href="{{ url_for('series.show_series', series_id = jam.series.id) }}">{{ jam.series.name }}</a></p>
                    {% endif %}
                    Created by: <a href="{{ url_for('users.show_user', user_name = jam.created_by.name) }}">{{ jam.created_by.name }}</a><br>
                    Starts at {{ jam.start }} - Coding until {{ jam.end_coding }} - Ratings until {{ jam.end_testing }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if ongoing_jams %}
            <div class="column">
                <h3 class="title is-3 has-text-centered">Jams Open for Submissions</h3>
                {% for jam in ongoing_jams %}
                <div class="box">
                    <h3 class="title is-3"><a href="{{ url_for('jams.show_jam', jam_id = jam.id) }}">{{ jam.name }}</a></h3>
                    {% if jam.series %}
                    <p class="subtitle is-7">In Series: <a href="{{ url_for('series.show_series', series_id = jam.series.id) }}">{{ jam.series.name }}</a></p>
                    {% endif %}
                    Created by: <a href="{{ url_for('users.show_user', user_name = jam.created_by.name) }}">{{ jam.created_by.name }}</a><br>
                    Starts at {{ jam.start }} - Coding until {{ jam.end_coding }} - Ratings until {{ jam.end_testing }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if rating_jams %}
            <div class="column">
                <h3 class="title is-3 has-text-centered">Jams Open for Ratings</h3>
                {% for jam in rating_jams %}
                <div class="box">
                    <h3 class="title is-3"><a href="{{ url_for('jams.show_jam', jam_id = jam.id) }}">{{ jam.name }}</a></h3>
                    {% if jam.series %}
                    <p class="subtitle is-7">In Series: <a href="{{ url_for('series.show_series', series_id = jam.series.id) }}">{{ jam.series.name }}</a></p>
                    {% endif %}
                    Created by: <a href="{{ url_for('users.show_user', user_name = jam.created_by.name) }}">{{ jam.created_by.name }}</a><br>
                    Starts at {{ jam.start }} - Coding until {{ jam.end_coding }} - Ratings until {{ jam.end_testing }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
