<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='phosphor/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='jamgaroo.ico') }}">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="{{ url_for('index') }}">
            <figure class="image is-24x24">
              <img src="{{ url_for('static', filename='jamgaroo.svg')}}">
            </figure>
                &nbsp;{{ config["NAME"] }}
            </a>
          </div>
          <div id="navbarMenu" class="navbar-menu is-active">
            <div class="navbar-start">
              <a class="navbar-item" href="{{ url_for('jams.list_jams') }}">
                  Jams
              </a>
              <a class="navbar-item" href="{{ url_for('games.list_games') }}">
                  Games
              </a>
              <a class="navbar-item" href="{{ url_for('about') }}">
                  About
              </a>
              <a class="navbar-item" href="{{ url_for('rss_feed')}}">
                  <i class="ph ph-rss-simple"></i>
              </a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                {% if g.username %}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                      {{ g.username }}
                  </a>
                  <div class="navbar-dropdown">
                      <a class="navbar-item" href="{{ url_for('jams.create_jam') }}">
                          New Jam
                      </a>
                      <a class="navbar-item" href="{{ url_for('series.create_series') }}">
                          New Series
                      </a>
                      <a class="navbar-item" href="{{ url_for('users.show_user', user_name = g.username) }}">
                          Profile
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item" href="{{ url_for('logout') }}">
                          Logout
                      </a>
                  </div>
                </div>
                {% else %}
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('register') }}">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-light" href="{{ url_for('login') }}">
                    Log in
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
        <section class="section">
            <div class="container">
            {% block header %}{% endblock %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, msg in messages %}
                    {% if category == "error" %}
                    <div class="notification is-danger">{{ msg }}</div>
                    {% endif %}
                    {% if category == "success" %}
                    <div class="notification is-success">{{ msg }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {% block content %}{% endblock %}
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                {% block footer %}
                {{ config.FOOTER|markdown }}
                {% endblock %}
            </div>
        </footer>
    </body>
</html>
