{% extends "layout.html" %}
{% block title %}Jamgaroo Login{% endblock %}
{% block header %}
<h1 class="title is-1">Login</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="post">
    <div class="field">
        <label class="label" for="username">Username:</label>
        <div class="control">
            <input class="input" type="text" id="username" name="username">
        </div>
    <div class="field">
    </div>
        <label class="label" for="password">Password:</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password">
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Login">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
No account yet? <a href="{{ url_for('register') }}">Register</a>
{% endblock %}
