{% extends "layout.html" %}
{% block title %}Jamgaroo Registration{% endblock %}
{% block header %}
<h1 class="title is-1">Registration</h1>
{% endblock %}
{% block content %}
{% if config.REGISTRATION_DISABLED %}
<fieldset disabled>
<div class="notification is-danger">Registration currently disabled!</div>
{% endif %}
<form action="{{ url_for('register') }}" method="post">
    <div class="field">
        <label class="label" for="username">Username:</label>
        <div class="control">
            <input class="input" type="text" id="username" name="username" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password">Password:</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="email">E-Mail:</label>
        <div class="control">
            <input class="input" type="text" id="mail" name="mail" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="tos">
            <input type="checkbox" id="tos" name="tos" value="tos" required> I have read and accepted the <a href="{{ url_for('tos') }}">Terms of Service</a>
        </label>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Sign Up">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% if config.REGISTRATION_DISABLED %}
</fieldset>
{% endif %}
Already have an account? <a href="{{ url_for('login') }}">Login</a>
{% endblock %}
