{% extends "layout.html" %}
{% block title %}Jamgaroo Change Password{% endblock %}
{% block header %}
<h1 class="title is-1">Change Password</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('users.password_change', user_name = g.username) }}" method="post">
    <div class="field">
        <label class="label" for="current-password">Current Password:</label>
        <div class="control">
            <input class="input" type="password" id="current-password" name="current-password" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="new-password-1">New Password:</label>
        <div class="control">
            <input class="input" type="password" id="new-password-1" name="new-password-1" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="new-password-2">Confirm New Password:</label>
        <div class="control">
            <input class="input" type="password" id="new-password-2" name="new-password-2" required>
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Change Password">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
