{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete {{ user.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Delete {{ user.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('users.delete_user', user_name = user.name) }}" method="post">
    <div class="block">
        Deleting your account will also delete all series, jams, games, ratings created by you!
        Are you sure you want to delete {{ user.name }}?
    </div>
    <input class="button is-danger" type="submit" value="Delete {{ user.name }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
