{% extends "layout.html" %}
{% block title %}Jamgaroo - Edit {{ user.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Edit {{ user.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('users.edit_user', user_name = user.name) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{ user.name }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="email">E-Mail:</label>
        <div class="control">
            <input class="input" type="text" id="email" name="email" value="{{ user.email }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description">{{ user. description }}</textarea>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Edit user">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
