{% extends "layout.html" %}
{% block title %}Jamgaroo - {{ user.name }}s profile{% endblock %}
{% block header %}
<h1 class="title is-1">{{ user.name }}</h1>
{% endblock %}
{% block content %}
{% if user.description %}
<div class="content">
{{ user.description|markdown }}
</div>
{% endif %}
{% if user.name == g.username %}
<div class="block">
    <a href="{{ url_for('users.edit_user', user_name = user.name) }}">
        <button class="button is-primary">Edit Profile</button>
    </a>
</div>
{% endif %}
{% for game in user_games %}
<h2 class="title is-3">Games:</h2>
<div class="box">
    <h4 class="title is-4"><a href="{{ url_for('games.show_game', game_id = game.id) }}">{{ game.name }}</a></h4>
    <p class="subtitle is-6">For: <a href="{{ url_for('jams.show_jam', jam_id = game.jam.id) }}">{{ game.jam.name }}</a></p>
</div>
{% endfor %}
{% endblock %}
