{% extends "layout.html" %}
{% block title %}Jamgaroo - Create Jam{% endblock %}
{% block header %}
<h1 class="title is-1">Create Jam</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('jams.create_jam') }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="ratings">Starts at:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="start" name="start" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="coding">Coding until:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="coding" name="coding" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="ratings">Ratings until:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="ratings" name="ratings" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="categories">Rating Categories:</label>
        <div class="control">
            <input class="input" type="text" id="categories" name="categories" placeholder="List of categories, comma seperated" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description" required></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label" for="series">Jam in Series:</label>
        <div class="control">
            <div class="select">
                <select id="series" name="series">
                    <option value="">None</option>
                  {% for series in user_series %}
                  <option value="{{ series.name }}">{{ series.name }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Create Jam">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
