{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete {{ jam.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Delete {{ jam.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('jams.delete_jam', jam_id = jam.id) }}" method="post">
    <div class="block">
        Deleting the jam will also delete all games submitted to it.
        Are you sure you want to delete {{ jam.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete {{ jam.name }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
