{% extends "layout.html" %}
{% block title %}Jamgaroo - Edit {{ jam.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Edit {{ jam.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('jams.edit_jam', jam_id = jam.id) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{ jam.name }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="ratings">Starts at:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="start" name="start" value="{{ jam.start }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="coding">Coding until:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="coding" name="coding" value="{{ jam.end_coding }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="ratings">Ratings until:</label>
        <div class="control">
            <input class="input" type="datetime-local" id="ratings" name="ratings" value="{{ jam.end_testing }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <textarea class="textarea" id="description" name="description">{{ jam.description }}</textarea>
    </div>
    <div class="field">
        <label class="label" for="series">Jam in Series:</label>
        <div class="control">
            <div class="select">
                <select id="series" name="series">
                    <option value="">None</option>
                    {% for series in user_series %}
                    <option value="{{ series.name }}">{{ series.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="button is-primary" type="submit" value="Edit Jam">
        </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
