{% extends "layout.html" %}
{% block title %}Jamgaroo - {{ jam.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ jam.name }}</h1>
{% endblock %}
{% block content %}
<p class="subtitle is-6">Open for submissions: {{ jam.start.day }}.{{ jam.start.month }}. - {{ jam.end_coding.day }}.{{ jam.end_coding.month }}.{{ jam.end_coding.year }}
Ratings until: {{ jam.end_testing.day }}.{{ jam.end_testing.month }}.{{ jam.end_testing.year }}</p>
<div class="content">
    {{ jam.description|markdown }}
</div>
<h4 class="title is-4">Categories:</h4>
{% for category in jam_categories %}
<div class="block">
    <h5 class="title is-5">{{ category.category.name }}</h5>
    {% if best_games[category.category.name] %}
    <p class="subtitle is-6">Current best: <a href="{{ url_for('games.show_game', game_id = best_games[category.category.name].game.id) }}">{{ best_games[category.category.name].game.name }}</a> {{ best_games[category.category.name].points_average|round(2, 'common') }}/10</p>
    {% endif %}
</div>
{% endfor %}
<div class="block">
    {% if jam.series %}
    In Series: <a href="{{ url_for('series.show_series', series_id = jam.series.id) }}">{{ jam.series.name }}</a><br>
    {% endif %}
    Created by: <a href="{{ url_for('users.show_user', user_name = jam.created_by.name) }}">{{ jam.created_by.name }}</a><br>
</div>
<div class="block">
    {% if jam.start <= current_date and jam.end_coding > current_date %}
    <a href="{{ url_for('jams.submit_game', jam_id = jam.id) }}">
        <button class="button is-primary">Submit Game</button>
    </a>
    {% endif %}
    {% if jam.created_by.name == g.username %}
    <a href="{{ url_for('jams.edit_jam', jam_id = jam.id) }}">
        <button class="button">Edit Jam</button>
    </a>
    <a href="{{ url_for('jams.delete_jam', jam_id = jam.id) }}">
        <button class="button is-danger">Delete Jam</button>
    </a>
    {% endif %}
    <a href="{{ url_for('jams.report_jam', jam_id = jam.id) }}">
        <button class="button" title="Report this jam"><i class="ph ph-flag"></i></button>
    </a>
</div>
{% if jam_submissions %}
<h3 class="title is-3">Submissions:</h3>
{% for game in jam_submissions %}
<div class="box">
    <a href="{{ url_for('games.show_game', game_id = game.id) }}"><h3 class="title is-4">{{ game.name }}</h3></a>
    Submitted by: <a href="{{ url_for('users.show_user', user_name = game.created_by.name) }}">{{ game.created_by.name }}</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}
