{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Jams{% endblock %}
{% block header %}
<h1 class="title is-1">Jams</h1>
{% endblock %}
{% block content %}
{% for jam in all_jams %}
<div class="block">
    <h3 class="title is-3"><a href="{{ url_for('.show_jam', jam_id = jam.id) }}">{{ jam.name }}</a></h3>
    {% if jam.series %}
    <p class="subtitle is-7">In Series: <a href="{{ url_for('series.show_series', series_id = jam.series.id) }}">{{ jam.series.name }}</a></p>
    {% endif %}
    Created by: <a href="{{ url_for('users.show_user', user_name = jam.created_by.name) }}">{{ jam.created_by.name }}</a><br>
    Starts at {{ jam.start }} - Coding until {{ jam.end_coding }} - Ratings until {{ jam.end_testing }}
</div>
{% endfor %}
{% endblock %}
