{% extends "layout.html" %}
{% block title %}Jamgaroo - Report Jam{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ jam.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('jams.report_jam', jam_id = jam_id) }}" method="post">
    <div class="field">
        <label class="label" for="reason">The reason for reporting this jam:</label>
        <div class="control">
            <textarea class="textarea" id="reason" name="reason" required></textarea>
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Report Jam">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
