{% extends "layout.html" %}
{% block title %}Jamgaroo - Submit Game{% endblock %}
{% block header %}
<h1 class="title is-1">Submit Game</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('jams.submit_game', jam_id = jam_id) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name">
        </div>
    </div>
    <div class="field">
        <label class="label" for="link">Link:</label>
        <div class="control">
            <input class="input" type="text" id="link" name="link">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description"></textarea>
        </div>
    </div>
    <div class="field">
        <input class="button is-primary" type="submit" value="Submit Game">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
