{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Reports for comment {{ all_comment_reports[0].comment.id }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ all_comment_reports[0].comment.name }} Reports</h1>
{% endblock %}
{% block content %}
<div class="block">
    <a href="{{ url_for('comments.show_comment', comment_id = all_comment_reports[0].comment.id)}}">Comment Page</a>
</div>
{% for report in all_comment_reports %}
<div class="block">
    {{ report.reason }}<br>
    Created by: <a href="{{ url_for('users.show_user', user_name = report.reported_by.name) }}">{{ report.reported_by.name }}</a><br>
    <a href="{{ url_for('admin.comment_report', comment_id = report.comment.id, report_id = report.id ) }}">>></a><br>
</div>
{% endfor %}
{% endblock %}
