{% extends "layout.html" %}
{% block title %}Jamgaroo - Report {{ comment_report.id }} for comment {{ comment_report.comment.id }}{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ comment_report.id }} for comment {{ comment_report.comment.id }}</h1>
{% endblock %}
{% block content %}
<div class="block">
    {{ comment_report.reason }}
</div>
<div class="block">
    For comment: <a href="{{ url_for('comments.show_comment', comment_id = comment_report.comment.id) }}">{{ comment_report.comment.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = comment_report.reported_by.name) }}">{{ comment_report.reported_by.name }}</a><br>
</div>
<div class="block">
    <a href="{{ url_for('admin.delete_comment_report', comment_id = comment_report.comment.id, report_id = comment_report.id) }}">
        <button class="button is-danger">Delete Report</button>
    </a>
    <a href="{{ url_for('comments.delete_comment', comment_id = comment_report.comment.id) }}">
        <button class="button is-danger">Delete Comment</button>
    </a>
</div>
{% endblock %}
