{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Jams{% endblock %}
{% block header %}
<h1 class="title is-1">Admin Dashboard</h1>
{% endblock %}
{% block content %}
<div class="block">
Reported Jams: <a href="{{ url_for('admin.reported_jams') }}">{{ all_reported_jams.count() }}</a> <br>
Reported Series: <a href="{{ url_for('admin.reported_series') }}">{{ all_reported_series.count() }}</a> <br>
Reported Games: <a href="{{ url_for('admin.reported_games') }}">{{ all_reported_games.count() }}</a> <br>
Reported Comments: <a href="{{ url_for('admin.reported_comments') }}">{{ all_reported_comments.count() }}</a>
</div>
{% endblock %}
