{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete Comment Report{% endblock %}
{% block header %}
<h1 class="title is-1">Delete Comment Report {{ comment_report.id }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('admin.delete_comment_report', comment_id = comment_report.comment.id, report_id = comment_report.id) }}" method="post">
    <div class="block">
        Are you sure you want to delete the report for {{ comment_report.comment.id }} by {{ comment_report.reported_by.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete Report">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
