{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete Game Report{% endblock %}
{% block header %}
<h1 class="title is-1">Delete Game Report {{ game_report.id }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('admin.delete_game_report', game_id = game_report.game.id, report_id = game_report.id) }}" method="post">
    <div class="block">
        Are you sure you want to delete the report for {{ game_report.game.id }} by {{ game_report.reported_by.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete Report">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
