{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete Jam Report{% endblock %}
{% block header %}
<h1 class="title is-1">Delete Jam Report {{ jam_report.id }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('admin.delete_jam_report', jam_id = jam_report.jam.id, report_id = jam_report.id) }}" method="post">
    <div class="block">
        Are you sure you want to delete the report for {{ jam_report.jam.id }} by {{ jam_report.reported_by.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete Report">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
