{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete Series Report{% endblock %}
{% block header %}
<h1 class="title is-1">Delete Series Report {{ series_report.id }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('admin.delete_series_report', series_id = series_report.series.id, report_id = series_report.id) }}" method="post">
    <div class="block">
        Are you sure you want to delete the report for {{ series_report.series.id }} by {{ series_report.reported_by.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete Report">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
