{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Reports for {{ all_game_reports[0].game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ all_game_reports[0].game.name }} Reports</h1>
{% endblock %}
{% block content %}
<div class="block">
    <a href="{{ url_for('games.show_game', game_id = all_game_reports[0].game.id)}}">Game Page</a>
</div>
{% for report in all_game_reports %}
<div class="block">
    {{ report.reason }}<br>
    Created by: <a href="{{ url_for('users.show_user', user_name = report.reported_by.name) }}">{{ report.reported_by.name }}</a><br>
    <a href="{{ url_for('admin.game_report', game_id = report.game.id, report_id = report.id ) }}">>></a><br>
</div>
{% endfor %}
{% endblock %}
