{% extends "layout.html" %}
{% block title %}Jamgaroo - Report {{ game_report.id }} for {{ game_report.game.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ game_report.id }} for {{ game_report.game.name }}</h1>
{% endblock %}
{% block content %}
<div class="block">
    {{ game_report.reason }}
</div>
<div class="block">
    For game: <a href="{{ url_for('games.show_game', game_id = game_report.game.id) }}">{{ game_report.game.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = game_report.reported_by.name) }}">{{ game_report.reported_by.name }}</a><br>
</div>
<div class="block">
    <a href="{{ url_for('admin.delete_game_report', game_id = game_report.game.id, report_id = game_report.id) }}">
        <button class="button is-danger">Delete Report</button>
    </a>
    <a href="{{ url_for('games.delete_game', game_id = game_report.game.id) }}">
        <button class="button is-danger">Delete game</button>
    </a>
</div>
{% endblock %}
