{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Reports for {{ all_jam_reports[0].jam.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ all_jam_reports[0].jam.name }} Reports</h1>
{% endblock %}
{% block content %}
<div class="block">
    <a href="{{ url_for('jams.show_jam', jam_id = all_jam_reports[0].jam.id)}}">Jam Page</a>
</div>
{% for report in all_jam_reports %}
<div class="block">
    {{ report.reason }}<br>
    Created by: <a href="{{ url_for('users.show_user', user_name = report.reported_by.name) }}">{{ report.reported_by.name }}</a><br>
    <a href="{{ url_for('admin.jam_report', jam_id = report.jam.id, report_id = report.id ) }}">>></a><br>
</div>
{% endfor %}
{% endblock %}
