{% extends "layout.html" %}
{% block title %}Jamgaroo - Report {{ jam_report.id }} for {{ jam_report.jam.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ jam_report.id }} for {{ jam_report.jam.name }}</h1>
{% endblock %}
{% block content %}
<div class="block">
    {{ jam_report.reason }}
</div>
<div class="block">
    For Jam: <a href="{{ url_for('jams.show_jam', jam_id = jam_report.jam.id) }}">{{ jam_report.jam.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = jam_report.reported_by.name) }}">{{ jam_report.reported_by.name }}</a><br>
</div>
<div class="block">
    <a href="{{ url_for('admin.delete_jam_report', jam_id = jam_report.jam.id, report_id = jam_report.id) }}">
        <button class="button is-danger">Delete Report</button>
    </a>
    <a href="{{ url_for('jams.delete_jam', jam_id = jam_report.jam.id) }}">
        <button class="button is-danger">Delete jam</button>
    </a>
</div>
{% endblock %}
