{% extends "layout.html" %}
{% block title %}Jamgaroo - List of reported jams{% endblock %}
{% block header %}
<h1 class="title is-1">Reports</h1>
{% endblock %}
{% block content %}
<div class="tabs">
    <ul>
        <li class="is-active"><a>Jams</a></li>
        <li><a href="{{ url_for('admin.reported_series') }}">Series</a></li>
        <li><a href="{{ url_for('admin.reported_games') }}">Games</a></li>
        <li><a href="{{ url_for('admin.reported_comments') }}">Comments</a></li>
    </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</abbr></th>
            <th>Number of Reports</th>
        </tr>
    </thead>
    <tbody>
        {% for jam in all_reported_jams %}
        <tr>
            <td><a href="{{ url_for('admin.jam_reports', jam_id = jam.jam.id) }}" class="has-text-weight-bold">{{ jam.jam.name }}</a></td>
            <td class="has-text-centered">{{ jam.number_reports }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="block">
</div>
{% endblock %}
