{% extends "layout.html" %}
{% block title %}Jamgaroo - List of reported comments{% endblock %}
{% block header %}
<h1 class="title is-1">Reports</h1>
{% endblock %}
{% block content %}
<div class="tabs">
    <ul>
        <li><a href="{{ url_for('admin.reported_jams') }}">Jams</a></li>
        <li><a href="{{ url_for('admin.reported_series') }}">Series</a></li>
        <li><a href="{{ url_for('admin.reported_games') }}">Games</a></li>
        <li class="is-active"><a>Comments</a></li>
    </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</abbr></th>
            <th>Number of Reports</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in all_reported_comments %}
        <tr>
            <td><a href="{{ url_for('admin.comment_reports', comment_id = comment.comment.id) }}" class="has-text-weight-bold">{{ comment.comment.id }}</a></td>
            <td class="has-text-centered">{{ comment.number_reports }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="block">
</div>
{% endblock %}
