{% extends "layout.html" %}
{% block title %}Jamgaroo - List of reported series{% endblock %}
{% block header %}
<h1 class="title is-1">Reports</h1>
{% endblock %}
{% block content %}
<div class="tabs">
    <ul>
        <li><a href="{{ url_for('admin.reported_jams')}}">Jams</a></li>
        <li class="is-active"><a>Series</a></li>
        <li><a href="{{ url_for('admin.reported_games') }}">Games</a></li>
        <li><a href="{{ url_for('admin.reported_comments') }}">Comments</a></li>
    </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</abbr></th>
            <th>Number of Reports</th>
        </tr>
    </thead>
    <tbody>
        {% for series in all_reported_series %}
        <tr>
            <td><a href="{{ url_for('admin.series_reports', series_id = series.series.id) }}" class="has-text-weight-bold">{{ series.series.name }}</a></td>
            <td class="has-text-centered">{{ series.number_reports }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="block">
</div>
{% endblock %}
