{% extends "layout.html" %}
{% block title %}Jamgaroo - List of reported games{% endblock %}
{% block header %}
<h1 class="title is-1">Reports</h1>
{% endblock %}
{% block content %}
<div class="tabs">
    <ul>
        <li><a href="{{ url_for('admin.reported_jams') }}">Jams</a></li>
        <li><a href="{{ url_for('admin.reported_series') }}">Series</a></li>
        <li class="is-active"><a>Games</a></li>
        <li><a href="{{ url_for('admin.reported_comments') }}">Comments</a></li>
    </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</abbr></th>
            <th>Number of Reports</th>
        </tr>
    </thead>
    <tbody>
        {% for game in all_reported_games %}
        <tr>
            <td><a href="{{ url_for('admin.game_reports', game_id = game.game.id) }}" class="has-text-weight-bold">{{ game.game.name }}</a></td>
            <td class="has-text-centered">{{ game.number_reports }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="block">
</div>
{% endblock %}
