{% extends "layout.html" %}
{% block title %}Jamgaroo - Report {{ series_report.id }} for {{ series_report.series.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Report {{ series_report.id }} for {{ series_report.series.name }}</h1>
{% endblock %}
{% block content %}
<div class="block">
    {{ series_report.reason }}
</div>
<div class="block">
    For Series: <a href="{{ url_for('series.show_series', series_id = series_report.series.id) }}">{{ series_report.series.name }}</a><br>
    Created by: <a href="{{ url_for('users.show_user', user_name = series_report.reported_by.name) }}">{{ series_report.reported_by.name }}</a><br>
</div>
<div class="block">
    <a href="{{ url_for('admin.delete_series_report', series_id = series_report.series.id, report_id = series_report.id) }}">
        <button class="button is-danger">Delete Report</button>
    </a>
    <a href="{{ url_for('series.delete_series', series_id = series_report.series.id) }}">
        <button class="button is-danger">Delete series</button>
    </a>
</div>
{% endblock %}
