{% extends "layout.html" %}
{% block title %}Jamgaroo - List of Reports for {{ all_series_reports[0].series.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">{{ all_series_reports[0].series.name }} Reports</h1>
{% endblock %}
{% block content %}
<div class="block">
    <a href="{{ url_for('series.show_series', series_id = all_series_reports[0].series.id)}}">Series Page</a>
</div>
{% for report in all_series_reports %}
<div class="block">
    {{ report.reason }}<br>
    Created by: <a href="{{ url_for('users.show_user', user_name = report.reported_by.name) }}">{{ report.reported_by.name }}</a><br>
    <a href="{{ url_for('admin.series_report', series_id = report.series.id, report_id = report.id ) }}">>></a><br>
</div>
{% endfor %}
{% endblock %}
