{% extends "layout.html" %}
{% block title %}Jamgaroo - Create Series{% endblock %}
{% block header %}
<h1 class="title is-1">Create Series</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('.create_series') }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description"></textarea><br>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Create Series">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
