{% extends "layout.html" %}
{% block title %}Jamgaroo - Delete {{ current_series.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Delete {{ current_series.name }}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('.delete_series', series_id = current_series.id) }}" method="post">
    <div class="block">
        Deleting the series will also delete all jams and games submitted to it.
        Are you sure you want to delete {{ current_series.name }}?<br>
    </div>
    <input class="button is-danger" type="submit" value="Delete {{ current_series.name }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
