{% extends "layout.html" %}
{% block title %}Jamgaroo - Edit {{ current_series.name }}{% endblock %}
{% block header %}
<h1 class="title is-1">Edit Series</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('.edit_series', series_id = current_series.id) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name:</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{ current_series.name }}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <textarea class="textarea" id="description" name="description">{{ current_series.description }}</textarea><br>
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Edit Series">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
