{% extends "layout.html" %}
{% block title %}Jamgaroo - List of series{% endblock %}
{% block header %}
<h1 class="title is-1">{{ current_series.name }}</h1>
{% endblock %}
{% block content %}
<div class="content">
    {{ current_series.description|markdown }}
</div>
<div class="block">
    Created by: <a href="{{ url_for('users.show_user', user_name = current_series.created_by.name) }}">{{ current_series.created_by.name }}</a><br>
</div>
<div class="block">
{% if current_series.created_by.name == g.username %}
    <a href="{{ url_for('.edit_series', series_id = current_series.id) }}">
        <button class="button">Edit Series</button>
    </a>
    <a href="{{ url_for('.delete_series', series_id = current_series.id) }}">
        <button class="button is-danger">Delete</button>
    </a>
{% endif %}
    <a href="{{ url_for('series.report_series', series_id = current_series.id) }}">
        <button class="button" title="Report this series"><i class="ph ph-flag"></i></button>
    </a>
</div>
{% if jams_in_series %}
<h3 class="title is-3">Jams in series:</h3>
{% for jam in jams_in_series %}
<div class="box">
    <h5 class="title is-5"><a href="{{ url_for('jams.show_jam', jam_id = jam.id) }}">{{ jam.name }}</a></h5>
</div>
{% endfor %}
{% endif %}
{% endblock %}
